{{define "title"}}MicroURL: URL Shortener {{ end }} {{define "main"}}
<h1 class="text-2xl font-bold text-cyan-600 mb-6">MicroURL</h1>

<form action="/shorten">
  <div class="space-y-1">
    <label for="url" class="font-medium">URL to shorten</label>
    <input
      type="url"
      name="url"
      id="url"
      class="flex max-w-md w-full rounded-md border border-neutral-300 bg-transparent px-3 py-1 shadow-sm transition-colors placeholder:text-neutral-300 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
      placeholder="https://example.com"
    />
  </div>
  <button
    type="submit"
    class="inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-cyan-600 text-white shadow hover:bg-cyan-600/90 h-9 px-4 py-2 mt-2"
  >
    Get short URL
  </button>
</form>
{{ end }}
